@font-face {
  font-family: "iconfont"; /* Project id 4845203 */
  src: url('//at.alicdn.com/t/c/font_4845203_gvah5zjvgq.woff2?t=1751277352499') format('woff2'),
       url('//at.alicdn.com/t/c/font_4845203_gvah5zjvgq.woff?t=1751277352499') format('woff'),
       url('//at.alicdn.com/t/c/font_4845203_gvah5zjvgq.ttf?t=1751277352499') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi1:before {
  content: "\e9a5";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-renwujihua:before {
  content: "\e628";
}

.icon-xiaoxi:before {
  content: "\e62d";
}

.icon-fuzhi:before {
  content: "\e63d";
}

.icon-cai:before {
  content: "\e701";
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-paizhao:before {
  content: "\e627";
}

.icon-xiangce:before {
  content: "\e7be";
}

.icon-stop:before {
  content: "\e68b";
}

.icon-up:before {
  content: "\e617";
}

.icon-closeempty:before {
  content: "\ea0b";
}

.icon-hulianwang:before {
  content: "\e623";
}

.icon-chuangjianxinduihua:before {
  content: "\ebe8";
}

.icon-shendusikao:before {
  content: "\e652";
}
