@font-face {
  font-family: "iconfont"; /* Project id 4845203 */
  src: url('//at.alicdn.com/t/c/font_4845203_rmc8k8eml3.woff2?t=1752629074075') format('woff2'),
       url('//at.alicdn.com/t/c/font_4845203_rmc8k8eml3.woff?t=1752629074075') format('woff'),
       url('//at.alicdn.com/t/c/font_4845203_rmc8k8eml3.ttf?t=1752629074075') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\eac3";
}

.icon-duanxinshezhi:before {
  content: "\e6a3";
}

.icon-anjian:before {
  content: "\e606";
}

.icon-renwujincheng:before {
  content: "\e68c";
}

.icon-shouye:before {
  content: "\eff7";
}

.icon-xiaoxi1:before {
  content: "\f01c";
}

.icon-hezuo:before {
  content: "\f047";
}

.icon-wode:before {
  content: "\f053";
}

.icon-a-kaiqixinhuihua-L1:before {
  content: "\e614";
}

.icon-dianzan:before {
  content: "\e702";
}

.icon-xinhuihua:before {
  content: "\e84c";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-lishijilu:before {
  content: "\eaf7";
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-jiantou_liebiaoxiangzuo:before {
  content: "\eb06";
}

.icon-jiantou_liebiaoshouqi:before {
  content: "\eb04";
}

.icon-jiantou_liebiaozhankai:before {
  content: "\eb05";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-weihaibao:before {
  content: "\e674";
}

.icon-read:before {
  content: "\e89e";
}

.icon-list-v3:before {
  content: "\ea39";
}

.icon-paper:before {
  content: "\ea0a";
}

.icon-note:before {
  content: "\ea2d";
}

.icon-erweima:before {
  content: "\e7dd";
}

.icon-mind2-full:before {
  content: "\e850";
}

.icon-newspaper:before {
  content: "\e891";
}

.icon-bill:before {
  content: "\e894";
}

.icon-case-file:before {
  content: "\e89b";
}

.icon-gift:before {
  content: "\e8b5";
}

.icon-purse:before {
  content: "\e8c5";
}

.icon-team:before {
  content: "\e8f5";
}

.icon-history-full:before {
  content: "\ea10";
}

.icon-rengongzhineng1:before {
  content: "\e613";
}

.icon-rengongzhineng2:before {
  content: "\e62a";
}

.icon-rengongzhineng3:before {
  content: "\e601";
}

.icon-rengongzhineng:before {
  content: "\e604";
}

.icon-shezhi1:before {
  content: "\e9a5";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-renwujihua:before {
  content: "\e628";
}

.icon-xiaoxi:before {
  content: "\e62d";
}

.icon-fuzhi:before {
  content: "\e63d";
}

.icon-cai:before {
  content: "\e701";
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-paizhao:before {
  content: "\e627";
}

.icon-xiangce:before {
  content: "\e7be";
}

.icon-stop:before {
  content: "\e68b";
}

.icon-up:before {
  content: "\e617";
}

.icon-closeempty:before {
  content: "\ea0b";
}

.icon-hulianwang:before {
  content: "\e623";
}

.icon-chuangjianxinduihua:before {
  content: "\ebe8";
}

.icon-shendusikao:before {
  content: "\e652";
}
